<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>

<body style="background:#0b0b0f;color:white;font-family:system-ui;display:flex;justify-content:center;align-items:center;height:100vh;">

<div style="background:#15151c;padding:30px;border-radius:12px;width:300px;">

<h2>Login</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="width:100%;padding:10px;background:#7c5cff;color:white;border:none;border-radius:8px;">
        Login
    </button>
</form>

<p style="margin-top:10px;">
    <a href="/accounts/register/" style="color:#7c5cff;">Create account</a>
</p>

</div>

</body>
</html>