{% extends "marketplace/base.html" %}

{% block content %}

<h1>Your Cart</h1>

{% for item in items %}
  <div style="background:white; padding:10px; margin-bottom:10px;">
    <h3>{{ item.card.title }}</h3>
    <p>Qty: {{ item.quantity }}</p>
    <p>${{ item.card.price }}</p>

    <a href="/remove/{{ item.id }}/">Remove</a>
  </div>
{% empty %}
  <p>Your cart is empty.</p>
{% endfor %}

<h2>Total: ${{ total }}</h2>

<a href="/checkout/" style="padding:10px; background:black; color:white;">
  Checkout with Stripe
</a>

{% endblock %}