{% extends "marketplace/base.html" %}

{% block content %}

<h2>Create Card</h2>

<form method="POST" enctype="multipart/form-data" style="padding:20px;">
    {% csrf_token %}

    <input name="title" placeholder="Title"><br><br>
    <input name="price" placeholder="Price"><br><br>
    <input name="rarity" placeholder="rarity (common/rare...)"><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>

    <input type="file" name="image"><br><br>

    <button type="submit">Create Listing</button>
</form>

{% endblock %}