{% extends "marketplace/base.html" %}

{% block content %}

<h2>Sell a Card</h2>

<form method="POST" enctype="multipart/form-data"
      style="background:white;padding:20px;border-radius:12px;">

    {% csrf_token %}

    <input name="title" placeholder="Title" style="width:100%;padding:10px;margin:5px 0;">
    <input name="price" placeholder="Price" style="width:100%;padding:10px;margin:5px 0;">
    <textarea name="description" placeholder="Description" style="width:100%;padding:10px;margin:5px 0;"></textarea>

    <input type="file" name="image">

    <button type="submit" class="btn">Create Listing</button>

</form>

{% endblock %}