{% extends "marketplace/base.html" %}

{% block content %}

<h1>Marketplace</h1>

<div style="display:grid; grid-template-columns:repeat(3,1fr); gap:20px;">

  {% for card in cards %}
  <div style="background:white; padding:15px; border-radius:10px;">

    {% if card.image %}
      <img src="{{ card.image.url }}" style="width:100%; height:180px; object-fit:cover;">
    {% endif %}

    <h3>{{ card.title }}</h3>
    <p>${{ card.price }}</p>

    <a href="/card/{{ card.id }}/">View</a>
    <a href="/add/{{ card.id }}/">Add to Cart</a>

  </div>
  {% endfor %}

</div>

{% endblock %}